/* kpi _______________________________ */
.kpi {
    margin-top: 20px;
    margin-bottom: 50px;
}

.kpi select, 
.kpi input {
  height: 30px;
  padding: 0px 5px; 
  margin-top: 20px;
  width: calc(50% - 20px);
}

.kpi select{ 
  margin-right: 20px;
}
 

.kpi-elements-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
}

.kpi-element {
    background-color: #F3F9FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-radius: 20px;

}

.kpi-element-header {
    font-weight: bold;
    text-align: center;
    width: 90%;
    font-size: 14px;
}

.kpi-element-number {
    font-size: 45px;
    color: #4dc1e1;
    font-weight: bold;
    margin: 15px 0 0;
}

.kpi-element-comparison_percentage {
  font-weight: bold;
  font-size: 20px;

}

.kpi-element-comparison_catalogue {
  font-weight: bold;
  font-size: 14px;
  margin-top: 15px;

}

.kpi-element-comparison_total {
  font-weight: bold;
  font-size: 20px;

}

.percentage_positive {
  color: green;

}
.percentage_negative{
  color: red;
}

.percentage_positive::before {
  content: "\2191"; 
  margin-right: 3px;

}
.percentage_negative::before {
  content: "\2193";
  margin-right: 3px;

}


/* graphs _______________________________ */
.graph-wrapper {
    margin: 20px 0 0 0;
    width: 600px;

    padding: 30px 50px;
    border-radius: 20px;
    background-color: #F3F9FC;

}

.graph-wrapper h3{

    
}

.graph-wrapper p{
    font-size: 14px;
    
}



/* products _______________________________ */

 .graph-wrapper-products {
    margin: 20px 0 0 0;
    width: 640px;

    padding: 30px 10px 30px 50px;
    border-radius: 20px;
    background-color: #F3F9FC;
 }

.products-wrapper {
    padding-right: 30px;
    height: 500px;
    overflow-y: scroll;
}

.products-table {
    border-collapse: collapse;
  }
  
  .products-table  td, tr {
    border: 1px solid #29A1C3;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
  }

 

  .row-header th{ 
    padding: 0px 20px 0px 10px; 
    
  }

  .row-header {
    font-weight: bold;  
    background: linear-gradient(180deg, #4DC1E1 0%, #29A1C3 100%);
    color: #fff; 
    height: 50px;
    padding: 0px 20px 0px 0px;

    border: 1px solid #29A1C3;
    
  }
 

.products-table-row td:nth-of-type(1){
    text-align: left !important;
    font-weight: bold; 
}

.products-table-row td:hover{
    background: rgba(77, 193, 225, 0.3);
  }

 .products-table-row:hover{
    background: rgba(77, 193, 225, 0.1);
  }
 
  .sortable-table th.up {
    background-image: url("./../../images/up_arrow.png");
  }
  .sortable-table th.down {
    background-image: url("./../../images/down_arrow.png");
  }
  .sortable-table th.default {
    background-image: url("./../../images/default.png");
  }

  th.up,
  th.default,
  th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }


  