.menu {
    width: 250px;
    height: 100vh; 
    background: #12204A;
    display: flex;
    flex-direction: column;
   
    
}

.aviou-logo {
    padding: 40px;
    margin-bottom: 20px;
}


.menu-elements {

}

.menu-el {
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    justify-content: flex-start;
    align-items: center; 
}

.menu-el h3 {
    margin: 0px 0px 0px 20px;
    color: #fff;
    font-weight: 400;
}

.menu-footer {
    margin-top: auto; 
    background: transparent linear-gradient(180deg, #0000 0px, rgba(0, 0, 0, 0.4) 15px, #0000 16px) 0% 0% no-repeat;
}

.footer-el {
    display: flex;
    flex-direction: row;
    padding: 0px 30px 0px 30px;
    justify-content: flex-start;
    align-items: center; 
    color: #fff;
    height: 70px;
    width: 100%;
 
}

.support-icon { 
    width: 40px;
    height: 40px;
    background-color: #4dc1e1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 20px; 
}

.user-icon{
    width: 40px;
    height: 40px;
    background-color: #4dc1e1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
}

.support-icon svg {
    fill: #fff;
    width: 26px;
    height: 26px; 
}

.footer-el h4 {
    font-weight: 400; 
    margin: 0px;  
    font-size: 14px;
}

.footer-el p {
    font-weight: 400;
    color: #569b4d;  
    margin: 0px;
    font-size: 12px;
}

.footer-el:nth-of-type(1){
    padding-top: 15px;
}

.divider {
    background-color: #000;
    width: 100%;
    height: 2px;
}

.highlited-item {
    width: calc(100% + 14px);
    height: 50px;
    color: #fff;
    background: linear-gradient(180deg, #4DC1E1 0%, #29A1C3 100%);
    border-radius: 0 31px 31px 0;
    padding: 0;
    position: relative;
}

.highlited-item svg {
    margin-left: 30px;
}